doctype html
html
    head
        title GraFME
        script(src='javascripts/p5.min.js')
        script(src='javascripts/p5.dom.min.js')
        script(src='javascripts/grafo/main.js')
        style body {padding: 0; margin: 0;}
        style canvas {vertical-align: top;}
    body
