doctype html

html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        script(src='/javascrips/bootstrap.min.js')
    body
        div(class='container')
            div(class='row justify-content-center align-items-center')
                form(class='col-md-6', actiopn='/', method='POST')
                    h1(classs='align-items-center')= title
                    div(class='form-group mt-5')
                        label(for='contra') Contrase単a
                        if (isValid)
                            input(type='password', class='form-control', id='contra', name='contra', placeholder='Contrase単a')
                        else
                            input(type='password', class='form-control is-invalid', id='contra', name='contra', placeholder='Contrase単a')
                        div(class='invalid-feedback') Contrase単a incorrecta

                    button(type='submit', class='btn btn-primary float-right') Enviar